---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "React",
    icon: "frameworks/react",
    url: "https://reactjs.org/",
  },
  {
    title: "React Native",
    icon: "frameworks/react-native",
    url: "https://reactnative.dev/",
  },
  {
    title: "Ionic Framework",
    icon: "frameworks/ionic",
    url: "https://ionicframework.com/",
  },
  // {
  //   title: "Vue",
  //   icon: "frameworks/vue",
  //   url: "https://vuejs.org/",
  // },
  {
    title: "Ruby on Rails",
    icon: "frameworks/ruby-on-rails",
    url: "https://rubyonrails.org/",
  },
  {
    title: "Django",
    icon: "frameworks/django",
    url: "https://www.djangoproject.com/",
  },
  {
    title: "Node.js",
    icon: "frameworks/node",
    url: "https://nodejs.org/",
  },
];

const languages: Array<CompatibilityItem> = [
  {
    title: "JavaScript",
    icon: "languages/javascript",
    url: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
  },
  {
    title: "TypeScript",
    icon: "languages/typescript",
    url: "https://www.typescriptlang.org/",
  },
  {
    title: "Ruby",
    icon: "languages/ruby",
    url: "https://www.ruby-lang.org/en/",
  },
  {
    title: "Python",
    icon: "languages/python",
    url: "https://www.python.org/",
  },
];
---

<ContentSection title="Technologies" id="technologies">
  <Fragment slot="lead">
    At Devpal Solutions, we believe in <span class="text-primary"
      >utilizing the most effective and cutting-edge tools</span
    > to deliver superior digital solutions. From robust back-end languages to
    versatile front-end frameworks, our technology stack is carefully selected
    to ensure <span class="text-primary">excellence</span> in every project.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Frameworks"
    listClassName="sm:grid-cols-3 md:grid-cols-6"
  />
  <CompatibilityList
    items={languages}
    title="Languages"
    listClassName="md:grid-cols-4"
  />
</ContentSection>
