---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Full-Stack Expertise",
    description: "Specializing in React.js, TypeScript, and More",
    icon: "mdi:code",
  },
  {
    title: "Responsive Web Development",
    description: "Using Cutting-Edge Technologies like GatsbyJS and Next.js",
    icon: "mdi:laptop",
  },
  {
    title: "Dynamic Mobile Apps",
    description: "Crafting Seamless Experiences with React Native and Ionic",
    icon: "mdi:tablet-cellphone",
  },
  {
    title: "Customized Solutions",
    description:
      "Tailored Backend Development with Ruby on Rails, Django, Node.js",
    icon: "mdi:puzzle",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    At <span class="text-primary">Devpal Solutions</span>, we understand that <span
      class="text-primary">every project is unique</span
    >, and our approach reflects that. Our comprehensive suite of services is
    designed to address the diverse <span class="text-primary"
      >needs of our clients</span
    >, ensuring we deliver solutions that are not only innovative but also
    perfectly aligned with <span class="text-primary">your business goals</span
    >. From state-of-the-art web development to user-centric mobile
    applications, each feature we offer is a piece of <span class="text-primary"
      >our commitment to your success.</span
    > Explore our specialized features to see how we can elevate your
    <span class="text-primary">digital presence</span>:
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-md text-center text-lg">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
